.ui-autocomplete { 
                background: #fff; 
                border-top: 1px solid #ccc;
                cursor: pointer; 
                font: 15px 'Open Sans',Arial;
                margin-left: 3px;
                width: 506px !important;
                position: fixed;
            }
             .ui-autocomplete .ui-menu-item { 
                list-style: none outside none;
                padding: 7px 0 9px 10px;
            }

            .ui-autocomplete .ui-menu-item:hover { background: #eee }

            .ui-autocomplete .ui-corner-all { 
                color: #666 !important;
                display: block;
            }
#mapa{
    height:500px;
    margin:0 0;

}
.back{
    background-color:#FFD98A;
    background-image:url('http://res.cloudinary.com/hhktgqpms/image/upload/v1438017931/background_ccnxtw.png');
}
.porcima{
    position:relative;
    margin-top: -480px; 
}  

#an{
    color:black;
}
#txtEndereco{
    position:relative;
    margin-top: -480px;
    font-size:17px;
    border-radius: 0;
    height:33px;
    border-bottom: 0;
    margin-top: 10px;
    border-top: 0;
    border-left: 0;
    border-right:0;
    padding: 4px 150px;
    box-shadow: 0.07em 0.07em 0.05em 0.05em  black;
}
.img{
    
    width:170px;
}


.b1{
    margin-top: -400px;
    position:relative;
    font-size:17px;
    background: #a70105;
    color:white;
    height:40px;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right:0;
    box-shadow: 0.1em 0.1em 0.1em 0.1em  black;

}
.b2{
    font-size:22px;
    background:#cc0000;
    width:120px;
    color:white;
    height:40px;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right:0;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
    margin-top:-20px;     
}
.b3{
    font-size:10px;
    background:#cc0000;
    width:40px;
    color:white;
    height:20px;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right:0;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
    margin-top:-20px;     
}
.back4{
    margin-top:337px;
    height:700px;
    background-color:black;
    opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
    
    
    
} 
#back5{
    margin-top:337px;
    height:500px;
    background-color:black;
    opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
    display:none;
} 
.pizzarias{
    margin-left:30px;
    background-color:white;
    width: 200px;
    height:120px;
}
.divLogo{
    width: 200px;
    height:120px;
}
.Nome{
    margin-top:-90px;
    font-size:22px;
    color:white;
    text-shadow: black 0.1em 0.1em 0.2em;
    position: relative;
}
.Endereco{
    font-size:22px;
    color:white;
    text-shadow: black 0.1em 0.1em 0.2em;
    position: relative;
}

.opacity{
    margin-top:40px;
    width: 200px;
    height: 60px;
    background-color:black;
    opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
    position:absolute;
}

#Endereco1, #Endereco2, #Endereco3,#Endereco4,#Endereco5,#Endereco6, #Endereco7, #Endereco8{
    display:none;
}

#btn1, #btn2, #btn3, #btn4, #btn5,#btn6,#btn7,#btn8{
    display:none;
}

.bt{
    margin-top:5px;
    font-size:15px;
    background: #009933;
    width:75px;
    color:white;
    height:35px;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right:0;
    
}

.bt> a:hover{
    color:white;
    text-decoration:none;
    font-weight: bold;
}
.elemento{
            
           position:absolute;
           margin-top: -700px;
                
}
.elemento2{
            
           position:absolute;
          width:200px;
                
}
@media (max-width: 767px) {
    
    .b2, .b3{
        margin-left:40px;
    }
    .elemento{
        margin-top:-800px;
    }
    .back4{
        margin-top:310px;
        width:370px;
        height:800px;
        margin-left:-20px;
        
    }
    .pizzarias{
        margin-top:15px;
        margin-left:80px;
    }
    #txtEndereco{
                    padding: 4px 40px;
                }
                .ui-autocomplete { 
                     width: 288px !important;
                }
                
    .back{
        margin-left: -20px;
        width: 390px;
        height:100%;
    }
    #mapa{
        margin:0;
        width: 100%;
    }
    footer
    {
        margin-left: -20px;
        width: 400px;
    }
    
    body{
        margin:0;
        padding:0;
        overflow-x: hidden;}
}